:root {
	--accent-color: rgb(0, 0, 0);

	--gray1: #f8f9faff;
	--gray2: #e9ecefff;
	--gray3: #dee2e6ff;
	--gray4: #ced4daff;
	--gray5: #adb5bdff;
	--gray6: #6c757dff;
	--gray7: #495057ff;
	--gray8: #343a40ff;
	--gray9: #212529ff;
}

* {
	margin: 0;
	/* margin should not exist in css */
}

header {
	height: 4rem;
	width: 100%;
	background: var(--gray7);
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	height: calc(100svh - 4rem);
	padding: 0 1rem;
	width: 100%;
	background: var(--gray1);
	display: flex;
	align-items: center;
	gap: 1rem;
	overflow-x: scroll;
}

.todo-list-container {
	height: calc(100% - 2rem);
	width: 24rem;
	flex: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--gray6);
	border-radius: 1rem;
}

.todo-list {
	list-style-type: none;
	padding: .5rem 0 1rem 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 1;
	overflow-y: scroll;
}

.todo-list-top {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1rem .5rem 1rem;
}

.todo-list-entry {
	width: 22rem;
	height: 6rem;
	background: var(--gray4);
	padding: .6rem;
	border-radius: .5rem;
	flex: none;
}

.todo-list-name {
	width: 0;
}
